.results-block {
  display: inline-block;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

.logout {
  padding-left: 0;
}

.user-name {
  // padding-botom: 0px;
  margin-top: -15px;
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: -28px;
  }
  .btn-danger:hover {
    background-color: darken(#d9534f, 20%) !important;
  }
}

.not-found {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}